/** Syling for the Home pages of the icons */
.icon-circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border-radius: 25%;
}

.aboutImage {
  height: 100vh;
  width: 100%;
  /* Dark overlay + image together */
  background: linear-gradient(
      rgba(0, 0, 0, 0.65), 
      rgba(0, 0, 0, 0.65)
    ),
    url("assets/background1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: white;
}

:root {
  --bs-primary: #ff6600;
  --bs-primary-rgb: 255, 102, 0;
}

.btn-primary {
  background-color: #ff6600; 
  border-color: #ff6600;
}

.btn-primary:hover {
  background-color: #e65c00;
  border-color: #e65c00;
}

.bg-info {
  background-color: #e65c00;
  border-color: #e65c00;
}


.my-masonry-grid {
  display: -webkit-box;      /* Not needed if using latest browser, but helps */
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px; /* gutter size */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}



.loading-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}